:local(.board) {
  display: grid;
  grid-template-columns: repeat(9, minmax(45px, 9vh));
  grid-template-rows: repeat(9, minmax(45px, 9vh)) ;
}

:local(.boardContainer){ 
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 35%;
  justify-content: center;
}