:local(.board) {
  display: grid;
  grid-template-columns: repeat(9, minmax(45px, 9vmin));
  grid-template-rows: repeat(9, minmax(45px, 9vmin));
}

:local(.board div:first-child) {
  border-top-left-radius: 12px;
}
:local(.board div:nth-child(9)) {
  border-top-right-radius: 12px;
}

:local(.board div:last-child) {
  border-bottom-right-radius: 12px;
}

:local(.board div:nth-child(73)) {
  border-bottom-left-radius: 12px;
}

:local(.boardContainer){ 
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 35%;
  justify-content: flex-start;
  padding: 2%;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  :local(.boardContainer) {
  flex-flow: column;
  }
}

:local(.boardContainer:first-child) {
  border-radius: 12px;
}

:local(.nextAndScore) {
  display: flex;
  flex-flow: row;
  height: 85px;
  align-items: flex-end;
  justify-content: center;
}
:local(.nextAndScore) {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

@media only screen and (max-width: 1000px) {
  :local(.nextAndScore) {
    width: 100%;
  }
  :local(.board) {
    height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  :local(.board) {
    display: grid;
    grid-template-columns: repeat(9, minmax(10vmin, 10vmin));
    grid-template-rows: repeat(9, minmax(10vmin, 10vmin));
  }
}