:local(.image) {
  width: 7vmin;
  height: 7vmin;
  max-width: 69px;
  max-height: 69px;
}

:local(.dragSource) {
  width: 6vh;
  height: 5vh;
  max-width: 69px;
  max-height: 69px;
  position: absolute;
}