:local(.container){
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
    padding: 2%;
    height: 100vh;
}

:local(.text){
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

:local(.container h1){
    display: flex;
    padding: 5%;
}

:local(.image) {
    width: 26%;
    display: flex;
    max-width: 400px;
}

@media only screen and (max-width: 750px) {
  :local(.image) {
    width: 40%;
  }
}