:local(.rulesJumbotron) {
    flex-flow: column;
    align-items: center;
    display: flex;
    background-color: #62A5BA!important;
}
:local(.rulesContainer) {
    display: flex;
    width: 75%;
    flex-flow: column;
}

:local(.container) {
      display: flex;
  flex-flow: row;
  align-items: center;
  flex-basis: 35%;
  justify-content: center;
  padding: 2%;
}

:local(.cats) {
    width: 4vh;
    height: 4vh;
}

:local(.ruleImage1) {
    width: 200px;
    height: 200px;
}

:local(.videoBasicElementsContainer) {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

:local(.video) {
    display: flex;
    flex-shrink: .5;
}

@media only screen and (max-width: 1250px) {
    :local(.videoBasicElementsContainer) {
    flex-direction: column;
    height: 700px;
    }
    :local(.basicElementsContainer) {
        flex-basis: auto;
    }
    :local(.video) {
      flex-basis: 65%;
      flex-shrink: 1;
    }
}

@media only screen and (min-width: 1250px) {
  :local(.basicElementsContainer) {
      flex-basis: auto;
  }
  :local(.video) {
      flex-basis: 70%;
  }
  :local(.videoBasicElementsContainer) {
      height: 500px;
  }
}

@media only screen and (max-width: 550px) {
    :local(.videoBasicElementsContainer) {
        flex-direction: column;
    }
    :local(.basicElementsContainer) {
      flex-basis: auto;
    }
    :local(.video) {
        padding-bottom: 10px;
        flex-shrink: 1;
    }   
}


:local(.basicElementsContainer) {
display: flex;
flex-flow: column;
flex-grow: 0;
flex-shrink: 2;
padding-right: 5px;
}


