:local(.scoreContainer){ 
  display: flex;
  flex-basis: 12%;
  height: 100%;
  margin-right: 20px;
}

:local(.scoreText) {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

:local( .scoreText h5) {
  font-size: 1.25rem;
}