:local(.scoreContainer){ 
  display: flex;
  flex-basis: 12%;
  height: 100px;
  font-size: 30px;
}

:local(.scoreText) {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
}

:local(.scoreContainer p){
    color: white;
}