:local(.square) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: solid #dfdfdf 1px;
  border-top: solid #dfdfdf 1px;
  font-family: 'Ubuntu', sans-serif;
  color: #90a2a7;
  font-weight: 100;
  font-size: 13px;
  background-color: #fff;
}

:local(.square:nth-child(9n)) {
  border-right: solid #dfdfdf 1px;
}

:local(.square p){
  padding: 0;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 4vh;
}

:local(.square:nth-last-child(-n+9)) {
  border-bottom: solid #dfdfdf 1px;
}